@keyframes skeleton-animation {
  0% {transform: translateX(-100%);}
  50% {transform: translateX(200%);}
  100% {transform: translateX(-100%);}
}

.skeleton-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.skeleton {
  background-color: #cacced;
  overflow: hidden;
}