* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-family: 'Comic Sans MS' ,'Comic Sans MS';
}

body {
  padding: 60px;
}

input:invalid:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

input:valid:focus {
  border-color: lawngreen;
}