* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-family: 'Comic Sans MS' ,'Comic Sans MS';
}

body {
  padding: 60px;
}

input:invalid:focus {
  outline-color: red;
  background-color: pink;
}