@keyframes card-fade-in-down {
  0%   {
    transform: translateY(-10px);
    visibility: hidden;
  }
  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}

.fade-in-down {
  animation: card-fade-in-down .60s ease-in-out;
}