.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px 150px;
  gap: 1em;
}

.grid > div {
  background-color: lightslategray;
  padding: 20px;
}
.grid > div:hover {
  border: 3px dotted purple;
}